In [1]:
import pandas as pd
df = pd.read_csv("D:/pyproj/venv/codes/IMDB Dataset.csv")
df.head(6)

                                              review sentiment
0  One of t!!!!he! other reviewers has mentioned ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive
5  Probably my all-time favorite movie, a story o...  positive

In [2]:
df['review'] = df['review'].str.lower()

In [ ]:
#1
import re
def remove_html_tags(text):
    """Remove HTML tags from the given text."""
    pattern = re.compile('<.*?>')
    return pattern.sub(r'', text)

In [6]:
df['review'] = df['review'].apply(remove_html_tags)
# df.head(6)
df

                                                  review sentiment
0      one of t!!!!he! other reviewers has mentioned ...  positive
1      a wonderful little production. the filming tec...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [7]:
import string,time
# time.sleep(2)  # just to simulate a delay
exclude = string.punctuation

In [ ]:
#2.
def remove_punctuations(text):
    for char in exclude:
        text = text.replace(char,'')
    return text

In [9]:
df['review'] = df['review'].apply(remove_punctuations)
df
# remove_punctuations("Hello, world! This is a test.")

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production the filming tech...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically theres a family where a little boy j...  negative
4      petter matteis love in the time of money is a ...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot bad dialogue bad acting idiotic direc...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  im going to have to disagree with the previous...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [12]:
def remove_punct1(text):
    return text.translate(str.maketrans('','',exclude))

In [13]:
df['review'] = df['review'].apply(remove_punct1)
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production the filming tech...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically theres a family where a little boy j...  negative
4      petter matteis love in the time of money is a ...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot bad dialogue bad acting idiotic direc...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  im going to have to disagree with the previous...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [23]:
df2 = pd.read_csv("D:/pyproj/venv/codes/test.csv")
df2['tweet'] = df2['tweet'].str.lower()
df2.head(6)

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...
5  31968                        choose to be   :) #momtips

In [26]:
exclude = string.punctuation
print(exclude)
def remove_punct3(text):
    return text.translate(str.maketrans('','',exclude))
df2['tweet'] = df2['tweet'].apply(remove_punct3)
df2.head(6)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

      id                                              tweet
0  31963  studiolife aislife requires passion dedication...
1  31964   user white supremacists want everyone to see ...
2  31965  safe ways to heal your acne    altwaystoheal h...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd bihday to my amazing hilarious nephew el...
5  31968                           choose to be    momtips

In [2]:
#3
chat_words = {
    'fyi': 'for your information',
    'idk': "I don't know",
    'asap': 'as soon as possible',
    'brb': 'be right back',
    'btw': 'by the way',
    'imo': 'in my opinion',
    'imho': 'in my humble opinion',
    'ttyl': 'talk to you later',
    'np': 'no problem',
    'omg': 'oh my god',
    'lol': 'laugh out loud',
    'rofl': 'rolling on the floor laughing',
    'lmao': 'laughing my ass off',
    'smh': 'shaking my head',
    'tbh': 'to be honest',
    'ikr': 'I know right',
    'idc': "I don't care",
    'bff': 'best friends forever',
    'wyd': 'what are you doing',
    'wya': 'where are you at',
    'hmu': 'hit me up',
    'gtg': 'got to go',
    'g2g': 'got to go',
    'ily': 'I love you',
    'ikr': 'I know right',
    'jk': 'just kidding',
    'nvm': 'never mind',
    'afaik': 'as far as I know',
    'atm': 'at the moment',
    'bbl': 'be back later',
    'bday': 'birthday',
    'cya': 'see you',
    'dm': 'direct message',
    'faq': 'frequently asked questions',
    'ftw': 'for the win',
    'gg': 'good game',
    'gr8': 'great',
    'idgaf': "I don't give a ****",
    'irl': 'in real life',
    'jk': 'just kidding',
    'msg': 'message',
    'nsfw': 'not safe for work',
    'omw': 'on my way',
    'pov': 'point of view',
    'rn': 'right now',
    'smh': 'shaking my head',
    'thx': 'thanks',
    'ty': 'thank you',
    'yw': "you're welcome",
    'xoxo': 'hugs and kisses'
}

def chat_conversion(text):
    words = text.split()
    new_words = []
    for word in words:
        if word in chat_words:
            new_words.append(chat_words[word])
        else:
            new_words.append(word)
    return ' '.join(new_words)
chat_conversion("idk what to do tbh")

"I don't know what to do to be honest"

In [3]:
#4. Spelling Correction
from textblob import TextBlob
incorrect_text = "I havv a pgoood knoledge"
corrected_text = TextBlob(incorrect_text).correct().string
print(corrected_text)

I have a good knowledge

In [88]:
#5. Remove Stop Words
from nltk.corpus import stopwords
# print(stopwords.words('english'))
def remove_stopwords(text):
    new_text = []
    for word in text.split():
        if word not in stopwords.words('english'):
            # print(word)
            new_text.append(word)
    return ' '.join(new_text)
remove_stopwords("This is a sample sentence with some stop words.")
# df2['tweet'] = df2['tweet'].apply(remove_stopwords)
# df2.head(6)

'This sample sentence stop words.'

In [ ]:
#5. Tockenization using NLTK
from nltk.tokenize import word_tokenize,sent_tokenize
text = "I have a P.H.D in computer science. We're up with that?"
word_tokenize(text)
# sent_tokenize(text)
# import nltk
# nltk.download('punkt_tab')
# nltk.download('punkt')

['I',
 'have',
 'a',
 'P.H.D',
 'in',
 'computer',
 'science',
 '.',
 'We',
 "'re",
 'up',
 'with',
 'that',
 '?']

In [ ]:
#5. Tokenization using SpaCy -- it uses to convert sentences / words into small tokens
import spacy
nlp = spacy.load("en_core_web_sm")
doc = nlp("I have a P.H.D in computer science. We're up with that?")
for token in doc:
    print(token.text)

I
have
a
P.H.D
in
computer
science
.
We
're
up
with
that
?

In [4]:
#6. Stemming -- it means reducing a word to its root form by removing suffixes and prefixes.
# Used by libraries like NLTK and SnowballStemmer and PorterStemmer and LancasterStemmer

from nltk.stem import PorterStemmer
ps = PorterStemmer()

def stem_words(text):
    return ' '.join([ps.stem(word) for word in text.split()])
stem_words("walking walked walks walker walked")
# stem_words("as you know running runners ran easily fairingly")

'walk walk walk walker walk'

In [19]:
import requests
import pandas as pd

all_movies = []

for page in range(1, 2):   # Change 6 → more if needed
    url = "https://api.themoviedb.org/3/movie/top_rated"
    params = {
        "api_key": "8265bd1679663a7ea12ac168da84d2e8",
        "language": "en-US",
        "page": page
    }

    response = requests.get(url, params=params)
    data = response.json()

    all_movies.extend(data["results"])

df = pd.DataFrame(all_movies)
print(df.head())


all_generes = []
url = "https://api.themoviedb.org/3/genre/movie/list"
params = {
    "api_key": "8265bd1679663a7ea12ac168da84d2e8",
    "language": "en-US"
}
response = requests.get(url, params=params)
data = response.json()
all_generes = data["genres"]
generes_df = pd.DataFrame(all_generes)
print(generes_df.head())

   adult                     backdrop_path        genre_ids   id  \
0  False  /zfbjgQE1uSd9wiPTX4VzsLi0rGG.jpg         [18, 80]  278
1  False  /39rtAdg3yx6IDxRg0ZLXefv0aPY.jpg         [18, 80]  238
2  False  /14icRpwdgpHEHxt7Cn5hr2RQEsF.jpg         [18, 80]  240
3  False  /zb6fM1CX41D9rF9hdgclu0peUmy.jpg  [18, 36, 10752]  424
4  False  /w4bTBXcqXc2TUyS5Fc4h67uWbPn.jpg             [18]  389

  original_language            original_title  \
0                en  The Shawshank Redemption
1                en             The Godfather
2                en     The Godfather Part II
3                en          Schindler's List
4                en              12 Angry Men

                                            overview  popularity  \
0  Imprisoned in the 1940s for the double murder ...     25.0880
1  Spanning the years 1945 to 1955, a chronicle o...     26.2653
2  In the continuing saga of the Corleone crime f...     15.2716
3  The true story of how businessman Oskar Schind...     11.3619
4  The defense and the prosecution have rested an...     10.6688

                        poster_path release_date                     title  \
0  /9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg   1994-09-23  The Shawshank Redemption
1  /3bhkrj58Vtu7enYsRolD1fZdja1.jpg   1972-03-14             The Godfather
2  /hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg   1974-12-20     The Godfather Part II
3  /sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg   1993-12-15          Schindler's List
4  /ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg   1957-04-10              12 Angry Men

   video  vote_average  vote_count
0  False         8.713       29321
1  False         8.685       22128
2  False         8.571       13378
3  False         8.566       16892
4  False         8.548        9567
   id       name
0  28     Action
1  12  Adventure
2  16  Animation
3  35     Comedy
4  80      Crime